header {
  background-color: white;
  text-align: center;
}
main {
  background-color: rgba(209, 207, 207, 0.719);
  float: right;
  margin-top: 1em;
  width: 72%;
}
footer {
  background-color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
}
nav {
  text-align: center;
  background-color: rgb(0, 68, 68);
  padding-top: 1em;
  padding-bottom: 1em;
}
a{
  color:white;
  text-shadow: 2px 2px rgb(63, 63, 63);
  text-decoration: none;
}
aside ul li a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px;
  font-weight: bold;
}
a:hover {
  color: whitesmoke;
  text-decoration: underlined;
}
a:visited {
  color: grey;
  text-decoration: none;
}
aside {
  float: left;
  width: 25%;
}
progress {
  background-color: whitesmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .25) inset;
  border-color: gray;
}
h1 {
  text-align: center;
  width: max-content;
  padding: 0em;
  margin: 0em;
  border-bottom: 2px solid darkblue;
}
h2 {
  background-image: linear-gradient(to left, rgb(22, 2, 110), rgb(84, 63, 202), rgb(22, 2, 110));
  color: white;
  text-align: center;
}
hr {
  display: block;
  border-style: inset;
  border-width: 1px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.decor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.grad {
  background-image: linear-gradient(to left, grey, white, grey);
}
.footgrad {
  background-image: linear-gradient(to left, rgba(14, 6, 58, 0.719), rgb(114, 114, 201), rgba(14, 6, 58, 0.719));
}
.links {
  text-align: center;
}